In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import cv2
import os

In [2]:
test_data = []
sno = []
test_path = './testing'
for file in tqdm(os.listdir(test_path)):
    path = os.path.join(test_path, file)
    img = cv2.imread(path, cv2.IMREAD_GRAYSCALE)
    img = cv2.resize(img, (100, 100))
    name = int(file.split('.')[0])
    sno.append(name)
    test_data.append(np.array(img))

100%|██████████| 40000/40000 [12:43<00:00, 30.67it/s]

In [6]:
d = {'da': test_data, 'id' :sno }
test = pd.DataFrame(data = d)
test.head()
test.to_csv('final_test.csv')

In [7]:
test.head()

                                                data     id
0  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...  14965
1  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...  30162
2  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...  28394
3  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...  34739
4  [[255, 255, 255, 255, 255, 255, 255, 255, 255,...  39302